<!DOCTYPE html>
<html lang="uk">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title || 'Цифрова навігаційна карта університету' %></title>
    <%- include('../partials/head-partial.ejs') %>
  </head>
  <body>
    <main><%- body %></main>
  </body>
</html>
